<div class="create-board-container">
  <div class="create-board-header">
    <label class="create-board-header">Create Board</label>
    <a class="close-btn" href="#">
      <span class="icon-sm icon-close">
        x
      </span>
    </a>
  </div>
  <br>

  <form class="create-board-form">
    <div class="create-board-form">
      <label class="create-board-subheader">Title</label>
      <input type="text"
             name="title" class="title-input"
             placeholder='Set sail to find the black pearl'>

      <button type="submit" class="create-board-button">Create</button>
    </div>
  </form>
</div>
